.background {
  display: flex;
  justify-content: center;
  font-family: 'Khula', sans-serif;
  align-items: center;
  // background-image: url('https://freesvg.org/img/under-construction_geek_man_01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 90px;
  width: 100vw;
  position: relative;
}

.checkout{
  display: flex;
  justify-content: center;
}